includes:
  - vendor/bovigo/assert/src/main/resources/phpstan/bovigo-assert.neon
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: 8
  paths:
    - ./src
  ignoreErrors:
    # Class Annotation has dynamicly added methods which are called using __call()
    -
        message: '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation#'
        path: src/test/php/annotation/AnnotationTest.php
    -
        message: '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::getName\(\)#'
        path: src/test/php/annotation/parser/ParserTest.php
    # Explicit tests that invalid values throw an exception
    -
        message: '#expects \(callable\(\): mixed\)\|class-string<object>\|object, 404 given#'
        path: src/test/php/FunctionsTest.php
    -
        message: "#'doesNotExist' given#"
        path: src/test/php/FunctionsTest.php
    -
        message: '#expects class-string<object>\|object, int given#'
        path: src/test/php/FunctionsTest.php
    -
        message: '#expects \(callable\(\): mixed\)\|class-string<object>\|object, bool\|float\|int\|string given#'
        path: src/test/php/FunctionsTest.php
    -
        message: '#Unable to resolve the template type T in call to function stubbles\\reflect\\reflect#'
        path: src/test/php/FunctionsTest.php
    -
        message: '#Unable to resolve the template type T in call to function stubbles\\reflect\\propertiesOf#'
        path: src/test/php/FunctionsTest.php
    -
        message: '#Unable to resolve the template type T in call to function stubbles\\reflect\\parametersOf#'
        path: src/test/php/FunctionsTest.php
    -
        message: '#Unable to resolve the template type T in call to function stubbles\\reflect\\methodsOf#'
        path: src/test/php/FunctionsTest.php
    -
        message: '#class of function stubbles\\reflect\\methodsOf expects substr\|class-string<substr>|ReflectionClass<substr>\|substr, string given#'
        path: src/test/php/FunctionsTest.php
    -
        message: '#Anonymous function should return array but returns string#'
        path: src/test/php/annotation/AnnotationCacheTest.php